<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
    <h2>Dashboard</h2>
    <div class="alert alert-info" role="alert">
        Welcome to your dashboard! Here you can manage your account and view your activity.
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p class="card-text">Details about the user will go here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activity</h5>
                    <p class="card-text">List of recent activities will go here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
