<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
    <h1>Welcome to Our Website</h1>
    <p>This is the public landing page.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feature 1</h5>
                    <p class="card-text">Description of feature 1.</p>
                    <a href="/login" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feature 2</h5>
                    <p class="card-text">Description of feature 2.</p>
                    <a href="/register" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feature 3</h5>
                    <p class="card-text">Description of feature 3.</p>
                    <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
